system: "cal"
name: "{{name}}"
author: "{{author}}"

{{#palette}}
danger: "{{base0F}}"
warning: "{{base0A}}"
notice: "{{base0D}}"
success: "{{base0B}}"
active: "{{base0B}}"
clickable: "{{base0C}}"
highlight: "{{base0E}}" # unsure
special: "{{base09}}" # unsure
variables: "{{base08}}"
numbers: "{{base09}}"
classes: "{{base0A}}"
strings: "{{base0B}}"
escape: "{{base0C}}"
functions: "{{base0D}}"
keywords: "{{base0E}}"
deprecated: "{{base0F}}"
darkest: "{{base00}}"
darker: "{{base01}}"
dark: "{{base02}}"
kinda-dark: "{{base03}}"
kinda-light: "{{base04}}"
light: "{{base05}}"
lighter: "{{base06}}"
lightest: "{{base07}}"
primary: "{{base0B}}"
secondary: "{{base0D}}"
tertiary: "{{base09}}"
quaternary: "{{base0E}}"
quinary: "{{base08}}"
senary: "{{base0F}}"
{{/palette}}
